.u-bg-twitter {
  background-color: $twitter;
}

.u-bg-facebook {
  background-color: $facebook;
}

.u-bg-google {
  background-color: $googleplus;
}

.post{
	&__share {
		padding: $spacing 0;


		&-links {
			display: flex;
			cursor: pointer;
		}

		&-link {
			@include cf;
			flex: 1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			$size: 60px;
			height: $size;
			margin-left: -4px;
			text-align: center;
			@include ease();

			&:hover {
				flex: 1.5;
			}
		}
	}	
}		