<section class="ad">
	<a class="ad__link" href="{{advertisment.get_field('ad_url')}}" target="_blank">
		<img class="ad__img" src="{{TimberImage(advertisment.get_field('ad_creative')).src}}"/>
	</a>
</section>