{% extends "templates/base.twig" %}

{% block content %}

<section class="article post">
	<header class="post-header">
		<h1 class="post-header__title">{{post.post_title}}</h1>
		<a href="{{home_url}}" class="post-header__button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		<img class="post-header__visual-queue article__hero-image" src="{{TimberImage(post.get_field('article_hero_image')).src}}" alt="" />
	</header>
	<footer class="post-footer">
		<article class="post-footer__content">
			{{post.get_field('article_body')}}
			<a href="{{home_url}}" class="post-footer__content-button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		</article>
		<aside class="post-footer__sidebar">
			<div class="post__share">
				<div class="post__share-links">
					<a href="" class="post__share-link u-bg-facebook"></a>
					<a href="" class="post__share-link u-bg-twitter"></a>
					<a href="" class="post__share-link u-bg-google-plus"></a>
				</div>
			</div>
			<a href="{{home_url}}" class="post-footer__sidebar-button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		</aside>
	</footer>
</section>

{% endblock %}