<!doctype html>
<html {{ function('language_attributes') }}>

    {% include 'templates/head.twig' %}

    <body {{ function('body_class') }}>

        {% include 'templates/header.twig' %}

        <div class="wrap container" role="document">
            <div class="content row">
                <main>
                    {% block content %}{% endblock %}
                </main>
            </div>
        </div>
        
        {% include 'templates/ad.twig' %}

        {% include 'templates/footer.twig' %}

    </body>

</html>