<section class="featured-post-wrapper">
	<article class="featured-post">
		<img class="featured-post__image" src="{{featured_image}}" />
		<div class="featured-post__content">
			<h1 class="featured-post__title">{{featured_post.post_title}}</h1>
			<p class="featured-post__short-desc">{{featured_post.get_field('short_description')}}</p>
			<a href="{{post.permalink}}" class="post-footer__content-button c-btn">find out more</a>
		</div>
	</article>
</section>