<footer class="footer">
    <img class="footer__logo" src="{{footer_logo_image_url}}"/>
    <p class="footer__copyright">© 2000-{{ "now"|date("Y") }} Rogers Media. All rights reserved.</p>
    <nav class="menu-footer">
    	<ul class="menu-footer__list">
    		{% for item in footer_menu.get_items %}
                <li class="menu-footer__item"><a class="menu-footer-item__link" href="{{item.get_link}}">{{item.title}}</a></li>
        	{% endfor %}
    	</ul>
    </nav>
</footer>

{{ function('wp_footer') }}
