<section class="gallery__filter">
	<ul class="gallery-filter__items">
		{% for term in post_categories %}
            <li class="gallery-filter__item{% if loop.first %} gallery-filter__item--active{% endif %}"><a class="gallery-filter__link" name="{{term.slug}}" href="{{term.slug}}">{{term.name}}</a></li>
       	{% endfor %}
	</ul>
</section>