<a class="gallery-item-post-url" href="{{post.permalink}}">
	<article class="gallery-item">
		<header class="gallery-item__image-holder">
			{% if post.post_type == "article" %}
    			<img class="gallery-item__image" src="{{TimberImage(post.get_field('article_hero_image')).src('gallery_image')}}" />
    		{% else %}
    			<img class="gallery-item__image" src="{{fallback_youtube_thumbnail}}" />
			{% endif %}
		</header>
		<footer class="gallery-item__content-holder">
			{% if post.post_type == "article" %}
    			<img class="gallery-item__type-icon" src="{{article_icon_url}}"/>
    		{% else %}
    			<img class="gallery-item__type-icon" src="{{video_icon_url}}"/>
			{% endif %}
			<h2 class="gallery-item__title">{{post.post_title}}</h2>
			<p class="galler-item__short-desc">{{post.get_field('short_description') | truncate(200)}}</p>
		</footer>
	</article>
</a>