{% extends "templates/base.twig" %}

{% block content %}

   {% include 'templates/featured_post.twig' %}
   {% include 'templates/gallery_filters.twig' %}
   {% include 'templates/gallery.twig' %}

{% endblock %}
