{% extends "templates/base.twig" %}

{% block content %}

<section class="video post">
	<header class="post-header">
		<h1 class="post-header__title">{{post.post_title}}</h1>
		<a href="{{home_url}}" class="post-header__button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		<div class="post-header__visual-queue video__youtube-embed"><iframe src="{{post.get_field('video_url')}}" frameborder="0" width="560" height="315"></iframe></div>
	</header>
	<footer class="post-footer">
		<article class="post-footer__content">
			{{post.get_field('video_long_description')}}
			<a href="{{home_url}}" class="post-header__button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		</article>
		<aside class="post-footer__sidebar">
			<div class="post__share">
				<div class="post__share-links">
					<a href="" class="post__share-link u-bg-facebook"></a>
					<a href="" class="post__share-link u-bg-twitter"></a>
					<a href="" class="post__share-link u-bg-google-plus"></a>
				</div>
			</div>
			<a href="{{home_url}}" class="post-header__button c-btn">{{post.get_field('back_to_list_button_text')}}</a>
		</aside>
	</footer>
</section>

{% endblock %}